# Cleaning Data Science Salaries Dataset - Glassdoor Jobs Dataset (https://www.kaggle.com/grouplens/glassdoor-jobs)

## Imporing Libraries

In [322]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()

## Importing Dataset

In [323]:
df = pd.read_csv('glassdoor_jobs.csv')
df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
951,951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini"
952,952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1
953,953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1
954,954,Data Engineer,-1,Loading...\n\nTitle: Data Engineer\n\nLocation...,4.8,IGNW\n4.8,"Austin, TX","Portland, OR",201 to 500 employees,2015,Company - Private,IT Services,Information Technology,$25 to $50 million (USD),Slalom
955,955,Research Scientist â€“ Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1

## Data Cleaning
- Renaming Columns
- Simplifying Job Title column
- Salary parsing
- Company name text only
- Location parsing - State field only
- Age of Company
- Job Description parsing

### =>  Renaming Columns

In [324]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [325]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [326]:
df.rename(columns={ 'Job Title' : 'Job_Title',
                    'Salary Estimate':'Salary_Estimate', 
                    'Job Description': 'Job_Description',
                    'Company Name': 'Company_Name',
                    'Headquarters': 'Headquarter',
                    'Type of ownership': 'Type_of_ownership'}, inplace=True)
df.columns

Index(['Job_Title', 'Salary_Estimate', 'Job_Description', 'Rating',
       'Company_Name', 'Location', 'Headquarter', 'Size', 'Founded',
       'Type_of_ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

### => Cleaning Columns

#### => Simplifying Job Title

In [327]:
# Show values of Job_title
df['Job_Title'].unique()

array(['Data Scientist', 'Healthcare Data Scientist',
       'Research Scientist', 'Staff Data Scientist - Technology',
       'Data Analyst', 'Data Engineer I', 'Scientist I/II, Biology',
       'Customer Data Scientist',
       'Data Scientist - Health Data Analytics',
       'Senior Data Scientist / Machine Learning',
       'Data Scientist - Quantitative', 'Digital Health Data Scientist',
       'Associate Data Analyst', 'Clinical Data Scientist',
       'Data Scientist / Machine Learning Expert', 'Web Data Analyst',
       'Senior Data Scientist', 'Data Engineer',
       'Data Scientist - Algorithms & Inference', 'Scientist',
       'Data Science Analyst', 'Lead Data Scientist',
       'Spectral Scientist/Engineer',
       'College Hire - Data Scientist - Open to December 2019 Graduates',
       'Data Scientist, Office of Data Science',
       'Business Intelligence Analyst', 'Senior Risk Data Scientist',
       'Data Scientist in Artificial Intelligence Early Career',
       'Data Scientist - Research', 'R&D Data Analysis Scientist',
       'Analytics Consultant', 'Director, Data Science',
       'Data Scientist SR', 'R&D Sr Data Scientist',
       'Customer Data Scientist/Sales Engineer (Bay',
       'Jr. Business Data Analyst', 'Data Management Specialist',
       'Machine Learning Engineer', 'E-Commerce Data Analyst',
       'Data Engineer Intern', 'Sr. Scientist II',
       'Insurance Data Scientist', 'Data Scientist Analyst',
       'Data Modeler', 'Data Analyst / Scientist',
       'Scientist, Stem Cells and Genomics',
       'Data Scientist, Rice University', 'Financial Data Analyst',
       'Postdoc Scientist - T cell engineering', 'Senior Data Analyst',
       'Ag Data Scientist', 'Principal Data Scientist',
       'Data Platform Engineer', 'Chief Data Scientist',
       'Data Scientist II', 'Senior Data Engineer', 'Project Scientist',
       'Senior Data Scientist - AI Forecasting, Finance team',
       'Data Analytics Manager',
       'Senior Machine Learning (ML) Engineer / Data Scientist - Cyber Security Analytics',
       'Weapons and Sensors Engineer/Scientist â€“ Entry Level',
       'Associate Scientist', 'Scientist 2, QC Viral Vector',
       'Data Scientist/ML Engineer', 'Senior Scientist - Bioanalytical',
       'Sr. Data Scientist', 'Scientist, Biomarker Science',
       'Data Engineer 4 - Contract', 'Data Analyst - Asset Management',
       'Senior Research Scientist - Embedded System Development for DevOps',
       'Data Scientist - Bioinformatics',
       'Customer Data Scientist/Sales Engineer', 'Data Analyst II',
       'MongoDB Data Engineer II', 'Senior Data Scientist Statistics',
       'Senior Analytical Scientist',
       'Senior Spark Engineer (Data Science)',
       'BI & Platform Analytics Manager',
       'Sr. Data Scientist - Analytics, Personalized Healthcare (PHC)',
       'Data Scientist (Active TS SCI with Polygraph)',
       'Pricipal Scientist Molecular and cellular biologist',
       'Data Scientist (Actuary, FSA or ASA)', 'Staff Data Scientist',
       'Front-End, Back-End, Fullstack Developers & Data Scientist / Researchers - Cleared OR CLEARABLE (Up to 25% Profit Sharing Benefit!)',
       'Data Engineer 5 - Contract (Remote)',
       'Senior Scientist - Neuroscience',
       'Senior Director Biometrics and Clinical Data Management',
       'Medical Lab Scientist', 'Risk and Analytics IT, Data Scientist',
       'Scientist, Analytical Development', 'Analytics Manager',
       'Digital Marketing & ECommerce Data Analyst',
       'Sr. Scientist - Digital & Image Analysis/Computational Pathology',
       'Principal Scientist - Immunologist',
       'Principal Data Scientist with over 10 years experience',
       'MED TECH/LAB SCIENTIST - LABORATORY',
       'Sr. Scientist, Quantitative Translational Sciences',
       'Sr. Data Scientist II', 'Excel / VBA / SQL Data Analyst',
       'Machine Learning Research Scientist', 'VP, Data Science',
       'Radar Data Analyst', 'Quality Control Scientist',
       'AWS Data Engineer', 'PL Actuarial-Lead Data Scientist',
       'Deep Learning/Computer Vision Scientist', 'PV Scientist',
       'Senior Data & Machine Learning Scientist',
       'Principal Data Scientist (Computational Chemistry)',
       'Data Systems Specialist 2',
       'Principal Scientist, Chemistry & Immunology',
       'Software Engineer - Data Visualization',
       'Scientist/Senior Scientist, Autoimmune',
       'Data Engineer 4 - Contract (Remote)',
       'UX Data Scientist (Python)', 'Staff Machine Learning Engineer',
       'Principal Scientist, Hematology', 'Lead Data Engineer',
       'Pharmacovigilance Scientist (Senior Pharmacovigilance)',
       'Data Science Manager', 'Marketing Data Analyst',
       'Medical Laboratory Scientist', 'R&D Specialist/ Food Scientist',
       'Senior Research Scientist-Machine Learning',
       'Data Engineer with R', 'Analytics Manager - Data Mart',
       'Sr. Data Engineer - Contract-to-Hire (Java)',
       'MED TECH/LAB SCIENTIST- SOUTH COASTAL LAB',
       'Food Scientist - Developer', 'Data Engineer 5 - Contract',
       'Staff Scientist-Downstream Process Development',
       'Sr. Data Engineer',
       'Senior Research Statistician- Data Scientist',
       'Business Data Analyst, SQL',
       'Medical Technologist / Clinical Laboratory Scientist',
       'ATL - Data & Analytics (DA)',
       'Associate Data Scientist/Computer Scientist',
       'Business Intelligence Analyst / Developer',
       'System and Data Analyst', 'Data Science Intern',
       'Environmental Scientist', 'Environmental Data Specialist',
       'Data & Analytics Consultant (NYC)',
       'Big Data Engineer - Chicago - Future Opportunity',
       'Real World Evidence (RWE) Scientist', 'Survey Data Analyst',
       'Data Scientist - Consultant - National',
       'Lead Health Data Analyst - Front End', 'Junior Data Analyst',
       'SQL Data Engineer',
       'Sr. Data Scientist, Cyber-Security LT Contract',
       'MSP - Data & Analytics (DA)', 'Insurance Financial Data Analyst',
       'Data Engineer I - Azure', 'Information Security Data Analyst',
       'Data Scientist, Senior', 'CONSULTANTâ€“ DATA ANALYTICS GROUP',
       'Data Analyst Level III',
       'Data Engineer, Data Engineering and Artifical Intelligence',
       'Staff Scientist',
       'Associate Scientist/Scientist, Process Analytical Technology - Small Molecule Analytical Chemistry',
       'Sr. Data Analyst', 'Program/Data Analyst',
       'Senior Data Scientist: Causal & Predictive analytics AI Innovation Lab',
       'Health Data Analyst/Developer',
       'Principal Data Engineer, Data Platform & Insights',
       'RESEARCH SCIENTIST - BIOLOGICAL SAFETY', 'Data Operations Lead',
       'Big Data Engineer', 'Clinical Data Analyst',
       'Computational Chemist/Data Scientist',
       'Product Engineer â€“ Data Science', 'Market Data Analyst',
       'Staff Data Engineer', 'Associate Data Engineer',
       'Scientist â€“ Cancer Drug Discovery', 'Staff BI and Data Engineer',
       'Director - Data, Privacy and AI Governance',
       'Scientist Manufacturing - Kentucky BioProcessing',
       'Data Analytics Project Manager',
       'Consultant - Analytics Consulting',
       'Senior Scientist (Neuroscience)',
       'Machine Learning Engineer - Regulatory',
       'Scientist, Bacteriology',
       'Associate Director, Platform and DevOps- Data Engineering and Aritifical Intelligence',
       'Clinical Laboratory Scientist', 'Chief Data Officer',
       'Head Data Scientist â€“ NLP lead, Novartis AI Innovation Lab',
       'Senior Data Scientist - R&D Oncology',
       'Director II, Data Science - GRM Actuarial',
       'Clinical Data Manager', 'Scientist, Molecular/Cellular Biologist',
       'Scientist - Analytical Services',
       'Associate Data Analyst- Graduate Development Program',
       'Head Data Scientist â€“ Image Analytics lead, Novartis AI Innovation Lab',
       'Senior Insurance Data Scientist',
       'Senior Data Science Systems Engineer',
       'ENVIRONMENTAL ENGINEER/SCIENTIST',
       'Scientist, Product Development',
       'Senior Scientist - Regulatory Submissions',
       'Scientist - Biomarker and Flow Cytometry',
       'Revenue Analytics Manager',
       'Associate Scientist, LC/MS Biologics',
       'Sr. Scientist Method Development', 'IT - Data Engineer II',
       'Research Scientist, Immunology - Cancer Biology',
       'Project Scientist - Auton Lab, Robotics Institute',
       'Staff Machine Learning Scientist, AI Foundation',
       'Sr. Enterprise Account Exec- Data Science / ML - NYC',
       'Enterprise Architect, Data', 'Advanced Analytics Manager',
       'Senior Manager, Epidemiologic Data Scientist',
       'Corporate Risk Data Analyst (SQL Based) - Milwaukee or',
       'Senior Imagery Scientist - SAR TO 11 #78 (TS/SCI)',
       'Marketing Data Analyst, May 2020 Undergrad',
       'Data Modeler - Data Solutions Engineer',
       'Associate Environmental Scientist - Wildlife Biologist',
       'Associate, Data Science, Internal Audit',
       'Sr Data Engineer (Sr BI Developer)',
       'Senior LiDAR Data Scientist', 'Salesforce Analytics Consultant',
       'Technology-Minded, Data Professional Opportunities',
       'Managing Data Scientist/ML Engineer',
       'Scientist, Pharmacometrics', 'Staff Scientist- Upstream PD',
       'Scientist Manufacturing Pharma - Kentucky BioProcessing',
       'Senior Clinical Lab Scientist, Clinical Lab Svcs - FT/Nights (8hr)',
       'Lead Big Data Engineer',
       'Product Engineer â€“ Spatial Data Science and Statistical Analysis',
       'Sr Software Engineer (Data Scientist)',
       'Sr. Data Engineer (ETL Developer)', 'Sr. Microsoft Data Engineer',
       'Senior Data Scientist Artificial Intelligence',
       'Scientist, Upstream Process Development (Bioreactors)',
       'Diversity and Inclusion Data Analyst',
       'Lab Head, Principle Scientist, Dupixent/Type 2 Inflammation & Fibrosis - Cambridge, MA',
       'Analytics - Business Assurance Data Analyst',
       'Associate Director/Director, Safety Scientist',
       'Senior Scientist, Cell Pharmacology/Assay Development',
       'Data Analyst Senior', 'Lead Data Engineer (Python)',
       'Senior Data Scientist 4 Artificial Intelligence',
       'Medical Lab Scientist - MLT',
       'Senior Operations Data Analyst, Call Center Operations',
       'Director II, Data Science - GRS Predictive Analytics',
       'RESEARCH COMPUTER SCIENTIST - RESEARCH ENGINEER - SR. COMPUTER SCIENTIST - SOFTWARE DEVELOPMENT',
       'Geospatial Software Developer and Data Scientist',
       'Chief Scientist - Emerging Technology Center',
       'Senior Scientist - Toxicologist - Product Integrity (Stewardship)',
       'Senior Scientist Protein/Oligonucleotides',
       'Systems Engineer II - Data Analyst',
       'Senior Research Analytical Scientist-Non-Targeted Analysis',
       'Director Data Science', 'Sr Data Analyst - IT',
       'Senior Scientist, Logic Gated CAR T Cell Therapy',
       'Associate Machine Learning Engineer / Data Scientist May 2020 Undergrad',
       'Senior Scientist - Biostatistician',
       'Principal Machine Learning Scientist', 'Sr. BI Data Engineer III',
       'Data Analyst, Performance Partnership', 'Data Scientist Manager',
       'Process Development Scientist', 'Sr Data Scientist',
       'Software Data Engineer - College',
       'Senior Data Scientist - Algorithms',
       'Senior Data Scientist Oncology',
       'Data Scientist - Alpha Insights',
       'Associate Principal Scientist, Pharmacogenomics',
       'Data Scientist - Systems Engineering',
       'Data Engineer - Consultant (Charlotte Based)',
       'Data Analyst 1, full-time contract worker for up to 12 months',
       'Scientist, Immuno-Oncology', 'Products Data Analyst II',
       'Lead Data Analyst', 'Data Science Engineer - Mobile',
       'Scientist - Analytical Development - Pharmaceutics',
       'Sr Expert Data Science, Advanced Visual Analytics (Associate level)',
       'IT Associate Data Analyst', 'Business Data Analyst',
       'Data Scientist - Sales',
       'Principal, Data Science - Advanced Analytics',
       'Data Science Project Manager',
       'Sr Scientist, Immuno-Oncology - Oncology',
       'Research Scientist â€“ Security and Privacy',
       'Data Analyst 2 (Missionary Department)',
       'Supply Chain Data Analyst', 'Data Engineer - ETL',
       'Clinical Document Review Scientist',
       'Data Modeler (Analytical Systems)',
       'Data Scientist in Translational Medicine',
       'Product Manager/Data Evangelist',
       'Senior Data Scientist â€“ Visualization, Novartis AI Innovation Lab',
       'Senior Data Analyst/Scientist', 'Machine Learning Scientist',
       'Scientist â€“ Cancer Discovery, Molecular Assay',
       'Data Engineering Analyst', 'Manager of Data Science',
       'Software Engineer (Data Scientist/Software Engineer) - SISW - MG',
       'Associate Research Scientist I (Protein Expression and Production)',
       'Head Data Scientist, Predictive Analytics Lead AI Innovation Lab',
       'Director, Precision Medicine Clinical Biomarker Scientist',
       'Senior Formulations Scientist II', 'Senior Quantitative Analyst',
       'Tech Manager, Software Engineering - Data',
       'Business Development - Data Supply Partnerships (Veraset)',
       'Research Scientist or Senior Research Scientist - Computer Vision',
       'Data Analyst Chemist - Quality System Contractor',
       'Sr. Manager, Data Science - Marketing Mix Media',
       'Sr. Scientist, Toxicology',
       'Research Scientist / Principal Research Scientist - Multiphysical Systems',
       'Research Scientist, Machine Learning Department',
       'Foundational Community Supports Data Analyst',
       'Senior Health Data Analyst, Star Ratings',
       'Principal Research Scientist/Team Lead, Medicinal Chemistry - Oncology',
       'Senior Engineer, Data Management Engineering',
       'Quality Control Scientist III- Analytical Development',
       'Clinical Scientist, Clinical Development',
       'Software Engineer Staff Scientist: Human Language Technologies',
       'Manager, Safety Scientist, Medical Safety & Risk Management',
       'Assistant Director/Director, Office of Data Science',
       'Sr. Data Engineer | Big Data SaaS Pipeline',
       'Scientist - CVRM Metabolism - in vivo pharmacology',
       'Data Scientist (Warehouse Automation)', 'Jr. Data Scientist',
       'Data Architect / Data Modeler', 'Data Scientists',
       'Associate Scientist / Sr. Associate Scientist, Antibody Discovery',
       'Machine Learning Engineer (NLP)'], dtype=object)

In [328]:
def Simplify_title(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'machine learning'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    else:
        return 'na'

def seniority(title):
    if 'jr' in title.lower() or 'jr.' in title.lower() or 'junior' in title.lower():
        return 'junior'
    elif 'sr' in title.lower() or 'sr.' in title.lower() or 'senior' in title.lower():
        return 'senior'
    elif 'lead' in title.lower(): 
        return 'lead'
    elif 'principal' in title.lower():
        return 'principal'
    else:
        return 'na'

In [357]:
df['Job_Title_Simplified'] = df['Job_Title'].apply(Simplify_title)
df['Job_Title_Simplified'].value_counts()

C:\Users\Amr Ahmed\AppData\Local\Temp\ipykernel_12244\2852938367.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Job_Title_Simplified'] = df['Job_Title'].apply(Simplify_title)

Job_Title_Simplified
data scientist      279
na                  184
data engineer       119
analyst             102
manager              22
machine learning     22
director             14
Name: count, dtype: int64

In [355]:
df['Seniority_Level'] = df['Job_Title'].apply(seniority)
df['Seniority_Level'].value_counts()

C:\Users\Amr Ahmed\AppData\Local\Temp\ipykernel_12244\2004239780.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Seniority_Level'] = df['Job_Title'].apply(seniority)

Seniority_Level
na           519
senior       173
principal     25
lead          22
junior         3
Name: count, dtype: int64

### => Salary Parsing

In [330]:
df.shape

(956, 16)

In [331]:
df = df[df['Salary_Estimate'] != '-1']
df.shape

(742, 16)

In [332]:
df['Salary_Estimate'].loc[0].replace('(Glassdoor est.)', '').replace(' ', '')

'$53K-$91K'

In [333]:
df['Salary_Estimate'] = df['Salary_Estimate'].apply(lambda x: x.replace('(Glassdoor est.)', '').replace(' ', ''))
df['Salary_Estimate'].head()

C:\Users\Amr Ahmed\AppData\Local\Temp\ipykernel_12244\2916667855.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Salary_Estimate'] = df['Salary_Estimate'].apply(lambda x: x.replace('(Glassdoor est.)', '').replace(' ', ''))

0     $53K-$91K
1    $63K-$112K
2     $80K-$90K
3     $56K-$97K
4    $86K-$143K
Name: Salary_Estimate, dtype: object

In [334]:
df['Salary_Estimate'].loc[0].replace('K','').replace('$','')

'53-91'

In [335]:
df['Salary_Estimate'] = df['Salary_Estimate'].apply(lambda x: x.replace('K','').replace('$',''))
df['Salary_Estimate'].head()

C:\Users\Amr Ahmed\AppData\Local\Temp\ipykernel_12244\688672773.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Salary_Estimate'] = df['Salary_Estimate'].apply(lambda x: x.replace('K','').replace('$',''))

0     53-91
1    63-112
2     80-90
3     56-97
4    86-143
Name: Salary_Estimate, dtype: object

In [336]:
# Find 'PerHour' in Salary_Estimate column
df['PerHour'] = df['Salary_Estimate'].apply(lambda x: 1 if 'perhour' in x.lower() else 0)
df['PerHour'].value_counts()

C:\Users\Amr Ahmed\AppData\Local\Temp\ipykernel_12244\46289163.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['PerHour'] = df['Salary_Estimate'].apply(lambda x: 1 if 'perhour' in x.lower() else 0)

PerHour
0    718
1     24
Name: count, dtype: int64

In [337]:
h= df['Salary_Estimate'].loc[492]
print(h)

if 'employerest' in h.lower():
    print('Yes')
else:
    print('No')

90-110(Employerest.)
Yes

In [338]:
# Find 'PerHour' in Salary_Estimate column
df['employer_Provided_Salary'] = df['Salary_Estimate'].apply(lambda x: 1 if 'employerprovidedsalary:' in x.lower() else 0)
df['employer_Provided_Salary'].value_counts()

C:\Users\Amr Ahmed\AppData\Local\Temp\ipykernel_12244\3394621971.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['employer_Provided_Salary'] = df['Salary_Estimate'].apply(lambda x: 1 if 'employerprovidedsalary:' in x.lower() else 0)

employer_Provided_Salary
0    725
1     17
Name: count, dtype: int64

In [339]:
df['Salary_Estimate'] = df['Salary_Estimate'].apply(lambda x: x.lower().replace('perhour', '').replace('employerprovidedsalary:', '').replace('employerest', '').replace('(.)', ''))

C:\Users\Amr Ahmed\AppData\Local\Temp\ipykernel_12244\136140127.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Salary_Estimate'] = df['Salary_Estimate'].apply(lambda x: x.lower().replace('perhour', '').replace('employerprovidedsalary:', '').replace('employerest', '').replace('(.)', ''))

In [340]:
print(df['Salary_Estimate'].loc[0].split('-')[0])
print(df['Salary_Estimate'].loc[0].split('-')[1])

53
91

In [341]:
df['min_salary'] = df['Salary_Estimate'].apply(lambda x: x.split('-')[0])
df['max_salary'] = df['Salary_Estimate'].apply(lambda x: x.split('-')[1])

C:\Users\Amr Ahmed\AppData\Local\Temp\ipykernel_12244\3084365541.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['min_salary'] = df['Salary_Estimate'].apply(lambda x: x.split('-')[0])
C:\Users\Amr Ahmed\AppData\Local\Temp\ipykernel_12244\3084365541.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['max_salary'] = df['Salary_Estimate'].apply(lambda x: x.split('-')[1])

In [342]:
# Change dtype of min_salary and max_salary from str/object to int and calculate average salary
df['min_salary'] = df['min_salary'].astype(int)
df['max_salary'] = df['max_salary'].astype(int)
df['average_salary'] = (df['min_salary'] + df['max_salary'])/2

C:\Users\Amr Ahmed\AppData\Local\Temp\ipykernel_12244\1209323181.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['min_salary'] = df['min_salary'].astype(int)
C:\Users\Amr Ahmed\AppData\Local\Temp\ipykernel_12244\1209323181.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['max_salary'] = df['max_salary'].astype(int)
C:\Users\Amr Ahmed\AppData\Local\Temp\ipykernel_12244\1209323181.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['average_salary'] = (df['min_salary'] + df['max_salary'])/2

### => Company name text only

In [343]:
print(df['Company_Name'][0])
df['Company_Name'][0].split('\n')[0]

Tecolote Research
3.8

'Tecolote Research'

In [344]:
df['Company_Name'] = df['Company_Name'].str.split('\n').str[0]

C:\Users\Amr Ahmed\AppData\Local\Temp\ipykernel_12244\478979508.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Company_Name'] = df['Company_Name'].str.split('\n').str[0]

### => Location parsing - State field only

In [345]:
df['Location'].loc[0].split(',')[1].strip()

'NM'

In [346]:
df['Job_state'] = df['Location'].apply(lambda x: x.split(',')[1].strip())

C:\Users\Amr Ahmed\AppData\Local\Temp\ipykernel_12244\2779744946.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Job_state'] = df['Location'].apply(lambda x: x.split(',')[1].strip())

In [347]:
df['same_state'] = df.apply(lambda x: 1 if x.Location == x.Headquarter else 0, axis = 1)

C:\Users\Amr Ahmed\AppData\Local\Temp\ipykernel_12244\1884352325.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['same_state'] = df.apply(lambda x: 1 if x.Location == x.Headquarter else 0, axis = 1)

### => Age of Company

In [348]:
sum(df['Founded'] == -1)

50

In [349]:
import datetime
current_year = datetime.datetime.now().year
df['age_of_company'] = df['Founded'].apply(lambda x: current_year - x if x != -1 else -1)

C:\Users\Amr Ahmed\AppData\Local\Temp\ipykernel_12244\848350293.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age_of_company'] = df['Founded'].apply(lambda x: current_year - x if x != -1 else -1)

### => Job Description parsing

In [350]:
df['Job_Description'].loc[0]

'Data Scientist\nLocation: Albuquerque, NM\nEducation Required: Bachelorâ€™s degree required, preferably in math, engineering, business, or the sciences.\nSkills Required:\nBachelorâ€™s Degree in relevant field, e.g., math, data analysis, database, computer science, Artificial Intelligence (AI); three yearsâ€™ experience credit for Masterâ€™s degree; five yearsâ€™ experience credit for a Ph.D\nApplicant should be proficient in the use of Power BI, Tableau, Python, MATLAB, Microsoft Word, PowerPoint, Excel, and working knowledge of MS Access, LMS, SAS, data visualization tools, and have a strong algorithmic aptitude\nExcellent verbal and written communication skills, and quantitative analytical skills are required\nApplicant must be able to work in a team environment\nU.S. citizenship and ability to obtain a DoD Secret Clearance required\nResponsibilities: The applicant will be responsible for formulating analytical solutions to complex data problems; creating data analytic models to improve data metrics; analyzing customer behavior and trends; delivering insights to stakeholders, as well as designing and crafting reports, dashboards, models, and algorithms to make data insights actionable; selecting features, building and optimizing classifiers using machine learning techniques; data mining using state-of-the-art methods, extending organizationâ€™s data with third party sources of information when needed; enhancing data collection procedures to include information that is relevant for building analytic systems; processing, cleansing, and verifying the integrity of data used for analysis; doing ad-hoc analysis and presenting results in a clear manner; and creating automated anomaly detection systems and constant tracking of its performance.\nBenefits:\nWe offer competitive salaries commensurate with education and experience. We have an excellent benefits package that includes:\nComprehensive health, dental, life, long and short term disability insurance\n100% Company funded Retirement Plans\nGenerous vacation, holiday and sick pay plans\nTuition assistance\n\nBenefits are provided to employees regularly working a minimum of 30 hours per week.\n\nTecolote Research is a private, employee-owned corporation where people are our primary resource. Our investments in technology and training give our employees the tools to ensure our clients are provided the solutions they need, and our very high employee retention rate and stable workforce is an added value to our customers. Apply now to connect with a company that invests in you.'

In [351]:
df['Python'] = df['Job_Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df['R-studio'] = df['Job_Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
df['spark'] = df['Job_Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df['Excel'] = df['Job_Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df['AWS'] = df['Job_Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)

C:\Users\Amr Ahmed\AppData\Local\Temp\ipykernel_12244\2575173465.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Python'] = df['Job_Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
C:\Users\Amr Ahmed\AppData\Local\Temp\ipykernel_12244\2575173465.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['R-studio'] = df['Job_Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
C:\Users\Amr Ahmed\AppData\Local\Temp\ipykernel_12244\2575173465.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['spark'] = df['Job_Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
C:\Users\Amr Ahmed\AppData\Local\Temp\ipykernel_12244\2575173465.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Excel'] = df['Job_Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
C:\Users\Amr Ahmed\AppData\Local\Temp\ipykernel_12244\2575173465.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['AWS'] = df['Job_Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)

In [360]:
df_cleaned = df.to_csv('Data_Science_Salaries_cleaned.csv', index = False)

In [362]:
pd.read_csv('Data_Science_Salaries_cleaned.csv')

,Job_Title,Salary_Estimate,Job_Description,Rating,Company_Name,Location,Headquarter,Size,Founded,Type_of_ownership,...,Job_state,same_state,age_of_company,Python,R-studio,spark,Excel,AWS,Seniority_Level,Job_Title_Simplified
0,Data Scientist,53-91,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,NM,0,50,1,0,0,1,0,na,data scientist
1,Healthcare Data Scientist,63-112,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,MD,0,39,1,0,0,0,0,na,data scientist
2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,FL,1,13,1,0,1,1,0,na,data scientist
3,Data Scientist,56-97,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,WA,1,58,1,0,0,0,0,na,data scientist
4,Data Scientist,86-143,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,NY,1,25,1,0,0,1,0,na,data scientist
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,"Sr Scientist, Immuno-Oncology - Oncology",58-111,Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,...,MA,0,193,0,0,0,0,1,senior,na
738,Senior Data Engineer,72-133,THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,...,TN,0,17,1,0,1,0,1,senior,data engineer
739,"Project Scientist - Auton Lab, Robotics Institute",56-91,The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,...,PA,1,39,0,0,0,1,0,na,na
740,Data Science Manager,95-160,Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,...,PA,0,-1,0,0,0,1,0,na,manager
741,Research Scientist â€“ Security and Privacy,61-126,Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,...,OH,0,56,1,0,0,0,0,na,na

--------------------

# END